@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .portal-card {
        @apply
        block
        w-48
        p-6
        font-bold
        text-4xl
        bg-white border
        border-gray-200
        rounded-lg
        shadow
        hover:bg-gray-100
        dark:bg-black
        dark:border-gray-700
        dark:hover:bg-gray-700 m-8
        text-center
    }

    .nav-item {
        @apply
        text-xl
        font-semibold
        m-8
    }

    .nav-item:hover {
        @apply
        nav-item-active
    }
    
    .nav-item.active {
        @apply
        nav-item-active
    }
    
    .nav-item-active {
        @apply
        underline
        underline-offset-8
        decoration-2
        decoration-secondary
        dark:decoration-primary
    }
    
    .display-none {
        @apply hidden;
    }

    .moon {
        @apply 
        w-7
        h-7
    }

    .sun {
        @apply 
        w-7
        h-7
    }

    .social-icon {
        @apply 
        w-7
        h-7
        m-3
        dark:fill-white
        fill-black
    }
    
    .social-icon:hover {
        @apply 
        fill-secondary
        dark:fill-primary
    }

    body {
        @apply
        min-h-screen
    }

    .post-share-modal {
        @apply
        flex
        rounded-md
        w-0
        bg-white
        overflow-hidden
        absolute
        right-0
        bottom-0
        duration-200
        ease-out
    }

    .post-share-modal-active {
        @apply
        w-80
    }

    .mobile-menu {
        @apply
        overflow-hidden
        bg-white
        dark:bg-black
        rounded-lg
        mx-4
        border-gray-500
        transition-all
        duration-300
    }
    
    .mobile-menu-item {
        @apply
        block
        py-2
        px-4
    }

    .mobile-menu-item:hover {
        @apply
        dark:bg-gray-900
        bg-slate-100
    }

    .gradient-logo {
        @apply
        bg-gradient-to-r
        from-cyan-500
        to-indigo-500
        inline-block
        text-transparent
        bg-clip-text
    }
}