@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .portal-card {
        @apply
        block
        max-w-sm
        p-6
        font-bold
        text-4xl
        bg-white border
        border-gray-200
        rounded-lg
        shadow
        hover:bg-gray-100
        dark:bg-gray-800
        dark:border-gray-700
        dark:hover:bg-gray-700 m-8
    }

    .nav-item {
        @apply
        dark:text-white
        text-black
        text-xl
        font-semibold
        m-8
    }

    .display-none {
        @apply hidden;
    }

    .moon {
        @apply 
        w-7
        h-7
    }

    .sun {
        @apply 
        w-7
        h-7
    }

    .social-icon {
        @apply 
        w-7
        h-7
        m-3
        dark:fill-white
        fill-black
    }

    body {
        @apply
        min-h-screen
    }

    .post-share-modal {
        @apply
        flex
        rounded-md
        w-0
        bg-white
        overflow-hidden
        absolute
        right-0
        bottom-0
        duration-200
        ease-out
    }

    .post-share-modal-active {
        @apply
        w-80
    }
}