{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    {% block base_styling %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/marcelaguiar-ui.css' %}" />
    {% endblock %}

    {% block dedicated_styling %}
    {% endblock %}

    <title>Marcel Aguiar</title>
</head>
<body>
    <div>
        <div class="h-screen text-white bg-gradient-to-br from-sky-300 via-purple-500 to-sky-300">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>